* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}
section {
  padding-top: 10rem;
  min-height: 100vh;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  z-index: 1000;
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); */
}
#header.active {
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
#header img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
#header #nav-bar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: #444;
}
#header #nav-bar a:hover {
  color: coral;
  border-bottom: 0.1rem solid coral;
}
#menu-bar {
  font-size: 3rem;
  color: #444;
  cursor: pointer;
  display: none;
}
#video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 20px;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
h1 {
  text-align: center;
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 20px;
}
form {
  text-align: center;
}
p {
  font-size: 2rem;
  margin-bottom: 1rem;
}
input {
  padding: 10px;
  border-radius: 10px;
}
#submit {
  cursor: pointer;
  background: #777;
  color: #fff;
  font-size: 12px;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: inline-block;
  }
  #header #nav-bar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  #header #nav-bar a {
    display: block;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem;
    background: #f9f9f9;
    padding: 2rem;
    color: #444;
  }
  #header #nav-bar.active {
    transform: scaleY(1);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
